<h1 id="intro">How Are You Feeling Today?</h1>

<div id="emotions">
<div>
	<a href="#/mood/glad" ng-click="emotionalPick(1)"> 
	<img src="http://lovelace-media.imgix.net/uploads/892/96a005a0-0adc-0133-45a5-0a2ca390b447.png?w=670&fit=max&auto=format&q=70"></a>
</div>
<div ng-click="emotionalPick(2)">
	<a href="#/mood/sad"> <img src="http://images.moneysavingexpert.com/images/sadface.jpg"></a> 
</div>
<div ng-click="emotionalPick(3)">
	<a href="#/mood/mad"> <img src="http://www.hey.fr/tools/emoji/ios_emoji_pouting_face.png"></a> 
</div>
<div ng-click="emotionalPick(4)">
	<a href="#/mood/scared"> <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/face-screaming-in-fear.png"></a> 
</div>
<div ng-click="emotionalPick(5)">
	<a href="#/mood/icky"> <img src="http://2.bp.blogspot.com/-QPlnnjQMWgo/U5acg09LWAI/AAAAAAAAIWQ/yWt8LPgU2RY/s1600/disgusted-smiley-face.png"></a> 
</div>

</div>