<h1 id="intro" class="intro">How Are You Feeling Today?</h1>
<div class="row">
<div id="emotions">
<span>
	<a href="#/mood/glad" ng-click="emotionalPick(1)"> 
	<img src="http://emojipedia-us.s3.amazonaws.com/cache/02/c8/02c83c18b33ccb8799e6c345e5945f16.png"></a>
</span>
<span ng-click="emotionalPick(2)">
	<a href="#/mood/sad"> <img src="http://emojipedia-us.s3.amazonaws.com/cache/cb/d0/cbd0300c6bea9affabc57521352a0f77.png"></a> 
</span>
<span ng-click="emotionalPick(3)">
	<a href="#/mood/mad"> <img src="http://emojipedia-us.s3.amazonaws.com/cache/21/22/2122236c512da3f3a54d48564cecf0a2.png"></a> 
</span>
<span ng-click="emotionalPick(4)">
	<a href="#/mood/scared"> <img src="http://emojipedia-us.s3.amazonaws.com/cache/9c/2d/9c2d5129eb9da1386fea16d9f6a0d950.png"></a> 
</span>
<span ng-click="emotionalPick(5)">
	<a href="#/mood/icky"> <img src="http://emojipedia-us.s3.amazonaws.com/cache/f3/15/f315f69b6689a649842e73da2a930939.png"></a> 
</span>

</div>