<h1>Well, look at you, feeling pretty good</h1>
<div ng-controller="jsonkilla">
<div>Let's keep it up!</div>
<div>You could:</div>
<ul>
	
	<li>Talk to someone close to you.</li>
	<li>Go for a short walk outside</li>
	<li>Get exercise</li>
	<li>Play some games</li>
	<li>Get a snack or a meal</li>
	<li>Get ahead on work</li>
	<li>Clean (I know, but isn't a tidy space just the best feeling???)</li>
	<li>Learn a new skill like coding!</li>
	<li>Be helpful to someone who might not be feeling as good as you right now</li>
	<li>Listen to some good music</li>
	<li ng-repeat="rawCopingSkill in rawCopingSkills">
      <a href="#/mood/{{rawCopingSkill.title}}">{{rawCopingSkill.skill}}</a>
      <a href="" ng-click= "deleteSkill(rawCopingSkill)">Delete</a>
      <input ng-model="rawCopingSkill.skill" ng-change="rawCopingSkills.$save(rawCopingSkill)">Update</input>
    </li>	
</ul>
</div>
<div ng-controller="copingSkills">
<a href="#/addSkill"><button>Add Your Own Skill!</button></a>
</div>