<div ng-controller="jsonkilla">
<div class="subHead">
<div>Look at you, feeling really good about yourself</div>
<div> Have you tried any of these things?</div>

<div>You could:</div>
</div>
<ul>
	
	<li>Talk to someone close to you.</li>
	<li>Go for a short walk outside</li>
	<li>Get exercise</li>
	<li>Play some games</li>
	<li>Get a snack or a meal</li>
	<li>Get ahead on work</li>
	<li>Clean (I know, but isn't a tidy space just the best feeling???)</li>
	<li>Learn a new skill like coding!</li>
	<li>Be helpful to someone who might not be feeling as good as you right now</li>
	<li>Listen to some good music</li>
	<li ng-repeat="rawCopingSkill in rawCopingSkills">
      <div>{{rawCopingSkill.skill}}</div>
      <button ng-click= "deleteSkill(rawCopingSkill)">Delete</button>
      <input ng-model="rawCopingSkill.skill" ng-change="rawCopingSkills.$save(rawCopingSkill)"></input>
    </li>
    <li> <input type="input" id="skill" ng-model="newSkill.skill">Skill</input>
<button ng-click="addSkill()" >Add Your Own Skill!</button>
    	
    </li>	
</ul>

</div>
