<h1>I'm Sorry You Feel Icky</h1>

<div ng-controller="jsonkilla">
<div class="subHead"> Have you tried any of these things?</div>
<div class="subHead">You could:</div>
<ul>

	<li>Take a shower</li>
	<li>Drink plenty of water</li>
	<li>Use your deep breathing techniques</li>
	<li>Get a snack or a meal</li>
	<li>Talk with someone close to you</li>
	<li>Listen to a good song</li>
	<li>If you are sick, call the doctor or get someone to take you to the doctor</li>
	<li>The quicker you get help when you feel gross, the quicker you can get back to feeling good again</li>
	<li ng-repeat="rawCopingSkill in rawCopingSkills">
      <div>{{rawCopingSkill.skill}}</div>
      <button ng-click= "deleteSkill(rawCopingSkill)">Delete</button>
      <input ng-model="rawCopingSkill.skill" ng-change="rawCopingSkills.$save(rawCopingSkill)"></input>
    </li>
    <li> <input type="input" id="skill" ng-model="newSkill.skill">Skill</input>
<button ng-click="addSkill()" >Add Your Own Skill!</button>
    	
    </li>	
</ul>

</div>