<h1>I'm Sorry You Feel Mad</h1>
<div ng-controller="jsonkilla">
<div class="subHead"> Have you tried any of these things?</div>
<div class="subHead">You could:</div>
<ul>

	<li>Go for a short walk outside</li>
	<li>Separate yourself from what is making you feel this way.</li>
	<li>Use your deep breathing techniques</li>
	<li>Get a snack or a meal</li>
	<li>Write in your notebook or your journal</li>
	<li>Listen to a good song</li>
	<li>Remember: being angry doesn't last.  What lasts longer is how you act when you are angry.</li>
	<li ng-repeat="rawCopingSkill in rawCopingSkills">
      <div>{{rawCopingSkill.skill}}</div>
      <button ng-click= "deleteSkill(rawCopingSkill)">Delete</button>
      <input ng-model="rawCopingSkill.skill" ng-change="rawCopingSkills.$save(rawCopingSkill)"></input>
    </li>
    <li> <input type="input" id="skill" ng-model="newSkill.skill">Skill</input>
<button ng-click="addSkill()" >Add Your Own Skill!</button>
    	
    </li>	
</ul>

</div>