<h1>I'm Sorry You Feel Sad</h1>
<div ng-controller="jsonkilla">
<div class="subHead"> Have you tried any of these things?</div>
<div class="subHead">You could:</div>
<ul>
	
	<li>Talk to someone close to you.</li>
	<li>Go for a short walk outside</li>
	<li>Get exercise</li>
	<li>Use your deep breathing techniques</li>
	<li>Get a snack or a meal</li>
	<li>Write in your notebook or your journal</li>
	<li>Listen to a good song</li>
	<li>If you are really sad and you are thinking about hurting yourself, please the  call Suicide Hotline at 1(800)273-8255</li>
	<li>Remember: You are not bothering anyone if you ask for help.</li>
	<li>You are worth more than you realize</li>
	<li ng-repeat="rawCopingSkill in rawCopingSkills">
      <div>{{rawCopingSkill.skill}}</div>
      <button ng-click= "deleteSkill(rawCopingSkill)">Delete</button>
      <input ng-model="rawCopingSkill.skill" ng-change="rawCopingSkills.$save(rawCopingSkill)"></input>
    </li>
    <li> <input type="input" id="skill" ng-model="newSkill.skill">Skill</input>
<button ng-click="addSkill()" >Add Your Own Skill!</button>
    	
    </li>	
</ul>

</div>