<h1>I'm sorry you are feeling scared or anxious</h1>

<div ng-controller="jsonkilla">
<div>Have you tried any of these things?</div>
<div>You could:</div>
<ul>
	<li>Talk to someone close to you about what is making you scared or anxious.</li>
	<li>Use deep breathing techniques</li>
	<li>Write in your notebook or your journal</li>
	<li>Get out and be with other people</li>
	<li>Listen to some good music</li>
	<li>Cut back on the caffeine</li>
	<li>Take a time out</li>
	<li ng-repeat="skill in copingSkills">
		
      <a href="#/mood/{{ skill.title }}">{{skill.skill}}</a>
    </li>	
</ul>
</div>
<div ng-controller="copingSkills">
<a href="#/addSkill"><button>Add Your Own Skill!</button></a>
</div>